.dist-buildwrapper
.settings
dist
.cabal-sandbox/
cabal.sandbox.config
config.ini
.DS_Store
docs/design.aux
docs/design.log
docs/design.pdf
**/SourceGraph/**
*~
*.swp
*.aux
*.out
*.log
*.bbl
*.blg
.stackwork/
TAGS
stack.yaml